body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    }

    .thead {
     font-size: 20px;
    }

.shirt {
        text-align: center;
        padding: 10px;
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        line-height: 1.5;
    }

a {
    display: block;
    background-color: #00A9D4;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 320px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.button-download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
